header {
    display: flex;
    justify-content: center;
}



nav {
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 3px;
    background-color: rgba(190, 190, 190, 0.295);
    margin: 10px;
    
    

    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
    
    
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    text-align: center;
    padding: 30px 16px;
    text-decoration: none;
    
  }

.slikag {
    width: 300px;
    height: 200px;
    background-image: url("/slikeGradovi/a989bec27bcd8789f1f6.jpeg");
    background-size: cover;
    border-radius: 5px;
    box-shadow: 0 0 5px 2px rgba(87, 87, 87, 0.596);
    margin: 20px;
}

.slikar {
    width: 300px;
    height: 200px;
    background-image: url("/slikeGradovi/rim_italija_vatikan-760x525.jpg");
    background-size: cover;
    border-radius: 5px;
    box-shadow: 0 0 5px 2px rgba(87, 87, 87, 0.596);
}

.slikal {
    width: 300px;
    height: 200px;
    background-image: url("/slikeGradovi/topic-london-gettyimages-760251843-promo.jpg");
    background-size: cover;
    border-radius: 5px;
    box-shadow: 0 0 5px 2px rgba(87, 87, 87, 0.596);
}